:root {
    --navy: #1A3260;
    --light-navy: #C2D1EE;
    --white: #fafafa;
    --light-gray: #CCCDD2;
    --gray: #E7E8EA;
    --black: #2C2C2C;
    --main-deep: var(--navy);
    --main-light: var(--light-navy);
}

header {    
    background-color: var(--main-deep);
    color: var(--white);
    text-align: center;
    vertical-align : middle;
    font-size: 36px;
}

head {
    /* 文字をコピー不可にする。https://www.aya-kikaku.work/3964/ */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    width: 100%;
    margin: 0;
    font-size: 20px;

    /* https://saycon.co.jp/portal-for-newcomer/html-lesson/html-lesson2 */
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, sans-serif;
    
    /* 文字をコピー不可にする。https://www.aya-kikaku.work/3964/ */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main {
    text-align: center;
    width: auto;
    margin: 50px auto;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: solid 1px var(--white);
}

table tr *:nth-child(1){
  display: none;
}

table tr *:nth-child(2){
  display: none;
}

table tr *:nth-child(4){
  display: none;
}

table tr *:nth-child(5){
  display: none;
}

table tr *:nth-child(6){
  display: none;
}

table tr:nth-child(2n) {
    background: var(--light-gray);
}

table tr:nth-child(2n+1) {
    background: var(--gray);
}

table tr:nth-child(1) {
    background-color: var(--main-deep);
    color: var(--white);
}

table td {
    padding: 10px;
    border-bottom: solid 1px var(--white);
}

.btn {
    display: inline-block;
    cursor: pointer;
    padding: 8px 30px;
    background-color: var(--main-light);
    box-shadow: 0px 5px var(--main-deep);
    border-radius: 3px;
    color: var(--navy);
    font-size: 18px;

    /* 文字をコピー不可にする。https://www.aya-kikaku.work/3964/ */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.btn:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

/* https://saruwakakun.com/html-css/reference/list-style-type */
h2 {
    background: var(--gray);
    border-left: solid var(--main-deep) 5px;
    padding: 14px 12px;
    border-bottom: solid 3px var(--light-gray);
    clear: both;
    text-align: left;
}

h4 {
    border-left: solid var(--main-deep) 2px;
    padding: 14px 12px;
    clear: both;
    text-align: left;
    font-size: 20px;
}

.empha {
    text-decoration:underline solid var(--black) 3px;
    font-weight: bold;
    /* https://note.com/wordpress1234/n/nf98a776a7cf5 */
    -webkit-text-decoration:underline solid var(--black) 3px;
}

ol {
    text-align: left;
}

/* https://note.com/ryotodo/n/n58c452d3660c */
.wrap {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

@media screen and (max-width:767px) {
    .wrap {
        width: 100%;
        max-width: inherit;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.answer {
    font-weight: bold;
    color: var(--accentcolor);
}
