:root {
    /* 色 */
    --navy: #1a3260;
    --light-navy: #c2d1ee;
    --white: #fafafa;
    --light-gray: #cccdd2;
    --gray: #e7e8ea;
    --black: #2c2c2c;
    --orange: #ea5506;
    --beige: #d8b888;
    --color-main-deep: var(--navy);
    --color-main-light: var(--light-navy);
    --color-accent: var(--orange);
    --color-mount: var(--beige);
    --color-string: var(--black);

    /* 定数 */
    --screen-padding-tb: 20px;
    --screen-padding-lr: 25px;
}

/* https://www.sejuku.net/blog/99964 */
* {    
    float: none;    
    position: static;
}

img {    
    max-width: 100%;    
    height: auto;
}

.mount {    
    /* https://nansystem.com/css-full-page-background-color/ */    
    width: 100vw;    
    /*height: 100vh;*/    
    background-color: var(--color-mount);
}

header {    
    background-color: var(--color-main-deep);
    color: var(--white);
    text-align: center;
    vertical-align : middle;
    font-size: 36px;
}

body {
    width: 100%;
    margin: 0;
    font-size: 20px;
    backgound-color: var(--color-mount);

    /* https://saycon.co.jp/portal-for-newcomer/html-lesson/html-lesson2 */
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, sans-serif;

    /* 文字をコピー不可にする。https://www.aya-kikaku.work/3964/ */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main {
    text-align: center;
    width: auto;
    margin: 50px auto;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: solid 1px var(--white);
}

.btn {
    display: inline-block;
    cursor: pointer;
    padding: 8px 30px;
    background-color: var(--color-main-light);
    box-shadow: 0px 5px var(--color-main-deep);
    border-radius: 3px;
    color: var(--color-main-deep);
    font-size: 18px;
}

.btn:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

/* https://saruwakakun.com/html-css/reference/list-style-type */
h2 {
    background: var(--gray);
    border-left: solid var(--color-main-deep) 5px;
    padding: 14px 12px;
    border-bottom: solid 3px var(--light-gray);
    clear: both;
    text-align: left;
}

h4 {
    border-left: solid var(--color-main-deep) 3px;
    padding: 14px 12px;
    clear: both;
    text-align: left;
    font-size: 20px;
}

.annotation {
    text-align: right;
    color: var(--black);
    font-size: 12px;
}
	
.empha {
    text-decoration:underline solid var(--black) 3px;
    font-weight: bold;
    /* https://note.com/wordpress1234/n/nf98a776a7cf5 */
    -webkit-text-decoration:underline solid var(--black) 3px;
}

.underline {
    text-decoration:underline solid var(--black) 2px;
    /* https://note.com/wordpress1234/n/nf98a776a7cf5 */
    -webkit-text-decoration:underline solid var(--black) 2px;
}

p {
    text-align: left;
}
	
ol {
    text-align: left;
    margin-left: 10px;

}
	
ol li {
    padding-left: 15px;

}

/* https://note.com/ryotodo/n/n58c452d3660c */
.wrap {
    width: 100%;
    max-width: 1000px;
    background-color: var(--white);
    padding-top: var(--screen-padding-tb);
    padding-bottom: var(--screen-padding-tb);
    padding-left: var(--screen-padding-lr);
    padding-right: var(--screen-padding-lr);
    border-radius: 15px;
    margin: 0 auto;
}

@media screen and (max-width:767px) {
    .wrap {
        width: 100%;
        max-width: inherit;
        background-color: var(--white);
        padding-top: var(--screen-padding-tb);
        padding-bottom: var(--screen-padding-tb);
        padding-left: var(--screen-padding-lr);
        padding-right: var(--screen-padding-lr);
    }
}

.answer-btn {
    display: inline-block;
    cursor: pointer;
    padding: 8px 30px;
    background-color: var(--color-main-light);
    border-radius: 3px;
    color: var(--color-main-deep);
    font-size: 18px;
    border: solid 1px var(--color-main-light);

    /* 文字をコピー不可にする。https://www.aya-kikaku.work/3964/ */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.answer {
    font-weight: bold;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 3px;
    color: var(--color-accent);
    font-size: 18px;
    border: solid 1px var(--color-accent);

    /* 文字をコピー不可にする。https://www.aya-kikaku.work/3964/ */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.options {
    border: solid 1px var(--black);
    padding: 10px;
}

ol li {
    padding-top: 10px;
    padding-bottom: 10px;
}
